# Ignore everything
*

# Allow folders
!*/

!c/scripts/**
!c/src/**
!c/tests/**
!c/Dockerfile
!c/Makefile

!cpp/fuzzing/scripts/**
!cpp/fuzzing/src/**
!cpp/fuzzing/tests/**
!cpp/fuzzing/Dockerfile
!cpp/fuzzing/Makefile

!.gitignore
!README.md
